.editor-container {
  display: flex;
  height: max-content;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.editor-outline {
  border: 2px solid #ccc;
  flex-grow: 4;
  height: 754px;
  width: 1300px;
  border-left: 1px solid #ccc;

}

.node-button {
  /* flex-grow: 1; */
}

.node-radio {
  margin: 0 5px 0 5px;
}