.body-node {
  background: #fff7ad;
}

/* .body-item {

}

.body-header {

} */

.body-icon{
  background-image: url('../../../../assets/test.png');
  background-size: 32px 32px;
/*   margin-right: 1vh;
 */}

.custom-tooltip>.tooltip-inner {
  background-color: #f0f0f0;
  color: #222;
}


/* .body-ref-div {

} */

.see-more-body {
  display: inline;
  margin-left: 5%;
}

.body-ref {
  display: inline;
  width: 80%;
}


.body-node [data-handleid="bottomHandle"]{
  background-color: #fff7ad !important;
}

.body-node [data-handleid="topHandle"]{
  background-color: #fff7ad !important;
}