.contains-node {
    background: #d5ffae;
}

.containsVerif-icon{
    background-image: url('../../../../assets/tickSmall.png');
    background-size: 32px 32px;
    margin-right: 1vh;
  }
/* .contains-item {

}

.contains-header {

}
 */