.node {
    padding: 8px;
    font-size: 14px;
    width: 220px;
    color: #222;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 15%), 0 2px 4px -1px rgb(0 0 0 / 8%);
    border-radius: 4px;
}


.accordion-item {
    border: none
}

.accordion-body {
    padding: 8px;
    box-shadow: none !important;
}

/*TODO: this broke setup test*/
.accordion-button {
    padding: 8px;
    box-shadow: none !important;
}

.acc-header-text {
    overflow: hidden;
}

.acc-header .accordion-button::after {
    overflow: visible
}

.acc-header .accordion-button {
    background: inherit;
    color: #222;
    font-weight: bold;
    font-size: 16px;
}

.acc-item {
    background: inherit;
    font-size: inherit;
    box-shadow: none !important;
}

.acc-icon {
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 6vh;
    height: 6vh;
}

.node label {
    display: block;
    color: #464545;
    font-size: 14px;
}

.form-control {
    font-size: inherit;
    padding: 4px 8px
}

.form-select {
    font-size: 14px;
}