.headers-node {
    background: #fff7ad;
}

/* .headers-item {

}

.headers-header {

} */

.headers-icon{
    background-image: url('../../../../assets/test.png');
    background-size: 32px 32px;
/*     margin-right: 1vh;
 */  }

.header-line {
    display: flex;
    align-items: center;
}

.value-field {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.key-field {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.remove-header {
    background-color: white;
    padding: 1px 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}