.query-node {
    background: #fff7ad;
}

/* .query-item {

}

.query-header {

} */

.query-icon{
    background-image: url('../../../../assets/test.png');
    background-size: 32px 32px;
/*     margin-right: 1vh;
 */  }

.query-line {
    display: flex;
    align-items: center;
}

.value-field {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.key-field {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.remove-query {
    background-color: white;
    padding: 1px 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}


.query-node [data-handleid="bottomHandle"]{
    background-color: #fff7ad !important;
  }

  .query-node [data-handleid="topHandle"]{
    background-color: #fff7ad !important;
  }


  button.remove-query.btn.btn-light.btn-sm {
    height: 31px;
}

.remove-query{
    background-color: #fff;
    color: #212529;
    border: 1px solid #ced4da;
  }
  
  .remove-query:hover{
    background-color: #f7f7f7;
    color: #212529;
    border: 1px solid #ced4da;
  }


  .addButton{
    background-color: #fff;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }
  
  .addButton:hover{
    background-color: #f7f7f7;
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: .25rem;
  }