.schema-node {
    background: #d5ffae;
}

.schemaVerif-icon{
    background-image: url('../../../../assets/tickSmall.png');
    background-size: 32px 32px;
/*     margin-right: 1vh;
 */  }
/* .schema-item {

}

.schema-header {

}
 */

 .see-more-schema {
  display: inline;
  margin-left: 5%;
}

.schema-select {
  display: inline;
  width: 80%;
}

 .schema-node [data-handleid="bottomHandle"]{
    background-color: #d5ffae !important;
  }

  .schema-node [data-handleid="topHandle"]{
    background-color: #d5ffae !important;
  }