.stress-node {
    background: #ffa792;
  }


  .stress-icon{
    background-image: url('../../../../assets/analysis.png');
    background-size: 32px 32px;
/*     margin-right: 1vh;
 */  }
  
/* .stress-item {

}

.stress-header {

} */

.stress-node [data-handleid="topHandle"]{
  background-color: #ffa792 !important;
}