.test-node {
  background: #e0f0ff;
}

.test-icon{
  background-image: url('../../../../assets/test.png');
  background-size: 32px 32px;
/*   margin-right: 1vh;
 */}

/* .test-item {

}

.test-header {

} */

.test-node [data-handleid="leftHandle"]{
  background-color: #fff7ad !important;
}

.test-node [data-handleid="rightHandle"]{
  background-color: #d5ffae !important;
}

.test-node [data-handleid="topHandle"]{
  background-color: #e0f0ff !important;
}
