.test-node {
  background: #e0f0ff;
}

.test-icon{
  background-image: url('../../../../assets/test.png');
  background-size: 32px 32px;
  margin-right: 1vh;
}

/* .test-item {

}

.test-header {

} */