.workflow-node {
  background: #ffdda9;
}

.workflow-icon{
  background-image: url('../../../../assets/share.png');
  background-size: 32px 32px;
/*   margin-right: 1vh;
 */}

/* .workflow-item {

}

.workflow-header {

} */