.collapsible-sidebar {
 flex: 1 1 8vh;


 height: 84vh;
  background-color: #f0f0f0;
  transition: flex-basis 0.3s ease;
  border: 2px solid #ccc;
  border-right: 1px solid #ccc;
}

.collapsible-sidebar.collapsed {
  background-color: #f0f0f0;
  height: 84vh;
  flex: 0 0 1vh;


}

.toggle-button {
  width: 100%;
  height: 4vh;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}


.collapsible-sidebar.collapsed .sidebar {
  display: none;
}

.sidebar {

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 4px 4px;
  /*   height: 710px;
 */
  margin-right: 2px;
  max-height: inherit;
}


.single-button-area {
  display: flex;
  flex-direction: column;
  margin-right: 1px;
  margin-left: 1px;
}

/* .node-button .aws-btn__content {
  background: aqua !important;
}

.node-button .aws-btn__wrapper::before {
  background: green !important;
} */


.node-button.wf .aws-btn__content {
  background: #ffdda9 !important;
  color: #222;
}

.node-button.wf .aws-btn__wrapper::before {
  background: #ffd18d !important;
  color: #222;
}

.node-button.wf .aws-btn__content:hover {
  background: #ffd18d !important;
  color: #222;
}



.node-button.test .aws-btn__content {
  background: #e0f0ff !important;
  color: #222;
}

.node-button.test .aws-btn__wrapper::before {
  background: #cbe6ff !important;
  color: #222;
}

.node-button.test .aws-btn__content:hover {
  background: #cbe6ff !important;
  color: #222;
}


.node-button.stress .aws-btn__content {
  background: #ffa792 !important;
  color: #222;
}

.node-button.stress .aws-btn__wrapper::before {
  background: #ff9379 !important;
  color: #222;
}

.node-button.stress .aws-btn__content:hover {
  background: #ff9379 !important;
  color: #222;
}



.node-button.http .aws-btn__content {
  background: #fff7ad !important;
  color: #222;
}

.node-button.http .aws-btn__wrapper::before {
  background: #f9ed81 !important;
  color: #222;
}

.node-button.http .aws-btn__content:hover {
  background: #f9ed81 !important;
  color: #222;
}


.node-button.verif .aws-btn__content {
  background: #d5ffae !important;
  color: #222;
}

.node-button.verif .aws-btn__wrapper::before {
  background: #befa85 !important;
  color: #222;
}

.node-button.verif .aws-btn__content:hover {
  background: #befa85 !important;
  color: #222;
}


.node-button.aws-btn::before {
  background: transparent
}

.node-button {
  width: 100%;
}

.sidebar-tooltip>.tooltip-inner {
  background-color: #f0f0f0;
  color: #222;
  ;
}

/* .node-button.setup .aws-btn__content {
  background: #d5ffae !important;
}
.node-button.setup .aws-btn__wrapper::before {
  background: #d5ffaef1 !important;
}
 */

/* .node-button .aws-btn--visible--right {
  background: aqua;
}
 */

/* .aws-btn__content{
  background: aqua !important;
} */

.sidebar-simple-header .accordion-button {
  font-size: medium;
}

.sidebar-dropzone {
  margin-bottom: 4px;
  margin-top: 4px;
}